# Default
.DS_Store
*.dll
*.retry
*.vagrant
*.zip
config.yml
roles*
hosts

# No inventory
inventory.ini

# No executable, binary
*.exe
*.msi
*.dll
*.lib
*.o
*.so
*.bin

# No log file
*.log

# Vagrant
.vagrant/
